<div class="heading secondary-heading"> Welcome <%= @employee.name %> </div>
<div class="ui grid">
  <div class="one wide column">
  </div>
  <div class="ten wide column">
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                <i class="users icon"></i><%= @employee.airline.get_passengers.count %>
                </div>
                <div class="label">
                Passengers
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                $<%= @employee.airline.revenue %>
                </div>
                <div class="label">
                Revenue
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                <i class="plane icon"></i> <%= @employee.airline.flights.count %>
                </div>
                <div class="label">
                Flights
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                <%= @employee.airline.average_utilization %>%
                </div>
                <div class="label">
                Average Utilization
                </div>
            </div>
            <div class="statistic">
                <div class="text value">
                <i class="user icon"></i><%= @employee.airline.frequent_flier %>
                </div>
                <div class="label">
                Frequent Flier
                </div>
            </div>
    </div>
  </div>
  <div class="one wide column">
  </div>
</div>







<div class="ui grid">
  <div class="four wide column">
    <div class="inner">
        <div class="ui card">
            <div class="image">
                <%= image_tag @employee.profile_picture %>
            </div>
            <div class="content">
                <a class="header"><%= @employee.name %></a>
                <div class="meta">
                <span class="date">Joined in <%= @employee.created_at.strftime("%Y") %></span>
                </div>
                <div>
                <%= @employee.name %> is an outstanding Marketing Manager!
                </div>
            </div>
        </div>
    </div>    
  </div>
  <div class="four wide column">
    <div class="inner">
        <div class="ui vertical menu">
            <a class="item">
                <h4 class="ui header">Tenure</h4>
                <p><%= "Thanks for being a #{@employee.airline.name} employee for #{@employee.tenure} hours!" %></p>
            </a>
            <a class="item">
                <h4 class="ui header">Next Flight</h4>
                <p><%= "#{@employee.airline.name}'s next flight is #{@employee.next_flight.flight_no} from #{@employee.next_flight.origin} to #{@employee.next_flight.destination} in #{@employee.time_until_next_departure} hrs" %></p>
            </a>
        </div>
    </div>
  </div>
</div>









<br>
