
<h2 class="heading secondary-heading"> Flight Details</h2>
<br><br>


<div class="ui center aligned grid">
    <table class="ui celled collapsing table">
        <thead>
                <tr>
                    <th>Ariline</th>
                    <th>Flight No.</th>
                    <th>Origin</th>
                    <th>Departure Date</th>
                    <th>Time</th>
                    <th>Destination</th>
                    <th>Arrival Date</th>
                    <th>Time</th>
                    <th>Price</th>
                    <th>Remaining Seats</th>
                </tr>
        </thead>
        <% @flights.each do |flight| %>
            <tr>
                <td><%= flight.airline.name %></td>
                <td><%= flight.flight_no %></td>
                <td><%= flight.origin %></td>
                <td><%= flight.departure.strftime("%m/%d/%y") %></td>
                <td><%= flight.departure.strftime("%I:%M:%S %p") %></td>
                <td><%= flight.destination %></td>
                <td><%= flight.arrival.strftime("%m/%d/%y") %></td>
                <td><%= flight.arrival.strftime("%I:%M:%S %p") %></td>
                <td>$<%= flight.price %></td>
                <td><%= flight.remaining_seats %></td>
            </tr>
        <% end %>
    </table>
</div>
<br>

<h3 class="pages"><%= paginate @flights %></h3>
