<div class="heading secondary-heading"> Flight Number: <%= @flight.flight_no %> </div>
<div class="heading secondary-heading"> Origin: <%= @flight.origin %> </div>
<div class="heading secondary-heading"> Destination: <%= @flight.destination %> </div>

<div class="ui five statistics">
  <div class="statistic">
  </div>
  <div class="statistic">
    <div class="value">
      <%= @flight.passengers.count %>
    </div>
    <div class="label">
      No. of Passengers
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= @flight.remaining_seats %>
    </div>
    <div class="label">
      Remaining Seats
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= @flight.flight_hours %>
    </div>
    <div class="label">
      Flight Hours
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="ui grid">
    <div class="seven wide column">
    </div>
    <div class="five wide column">
      <h2>Revenue</h2>
    </div>
    <div class="three wide column">
    </div>
</div>

<div class="ui grid">
    <div class="five wide column">
    </div>
    <div class="six wide column">
        <div class="ui progress">
            <div class="bar">
                <div class="progress"><%= @flight.revenue %>%</div>
            </div>
        </div>
    </div>
     <div class="three wide column">
    </div>
</div>
<br>
<br>
<br>
<div class="ui center aligned grid">
    <table class="ui celled collapsing table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Ticket No.</th>
        </tr>
        <% @flight.passengers.each do |passenger| %>
            <tr>
                <td><%= passenger.first_name %></td>
                <td><%= passenger.last_name %></td>
                <td><%= passenger.age %></td>
                <td><%= passenger.email %></td>
                <td><%= passenger.tickets.find_by(flight_id: @flight.id).ticket_number %></td>
            </tr>
        <% end %>
    </table>
</div>