<div class = "ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
        <div class="column">
            <div class= "ui form">
                <%= form_tag(new_ticket_path, method: :get) do %>
                    <div class="field">
                    <%= label_tag "Search Flights by City" %>
                        <div class="ui left icon input">   
                            <%= text_field_tag(:search, params[:search]) %>
                            <i class="search icon"></i>
                        </div>
                    </div>
                    <div>
                        <%= submit_tag ("Search"), class: "ui blue submit button" %>
                    </div>
                    <div class="update">
                        <% if flash[:notice] %>
                            <%= flash[:notice] %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="middle aligned column">    
            <div class= "ui form"> 
                <%= form_for @ticket do |f| %>
                <div class="field">
                    <i class="ticket alternate icon"></i>   
                    <%= f.label :flight %>
                    <%= f.collection_select :flight_id, @flights, :id, :flight_no %>
                </div>
                <div class="field">
                    <i class="suitcase icon"></i>
                    <%= f.label :number_of_bags %>
                    <%= f.number_field :number_of_bags, value: 2 %>
                </div>
                <div class="field">
                    <%= f.hidden_field :passenger_id, value: session[:passenger_id] %>
                <div>*First two bags fly free!</div>
                </div>
                <div>
                    <%= f.submit class: "ui blue submit button" %>
                </div>
                <% end %>
                <div class="error">
                    <% if flash[:error] %>
                        <% flash[:error].each do |message| %>
                            <%= message %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>  
    </div>
    <div class="ui vertical divider">
        Or
    </div>
</div>
<br>
<br>
<br>

<div class="ui center aligned grid">
<table class="ui celled collapsing table">
    <tr>
        <th>Flight No.</th>
        <th>Origin</th>
        <th>Departure Date</th>
        <th>Time</th>
        <th>Destination</th>
        <th>Arrival Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Remaining Seats</th>
    </tr>
    <% @flights.each do |flight| %>
        <tr>
            <td><%= flight.flight_no %></td>
            <td><%= flight.origin %></td>
            <td><%= flight.departure.strftime("%m/%d/%y") %></td>
            <td><%= flight.departure.strftime("%I:%M:%S %p") %></td>
            <td><%= flight.destination %></td>
            <td><%= flight.arrival.strftime("%m/%d/%y") %></td>
            <td><%= flight.arrival.strftime("%I:%M:%S %p") %></td>
            <td>$<%= flight.price %></td>
            <td><%= flight.remaining_seats %></td>
        </tr>
    <% end %>
</table>
</div>
<br>

<h3 class="pages"><%= paginate @flights %></h3>
