<div class = "form_search ">
    <h4>Search Flights by City</h4>
        <%= form_tag(new_ticket_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search]) %>
            <%= submit_tag ("Search") %>
        <% end %>
        <br>
        <div class="update">
            <% if flash[:notice] %>
                <%= flash[:notice] %>
            <% end %>
        </div>
    </div>

<div class="ui center aligned grid">
<table class="ui celled collapsing table">
    <tr>
        <th>Flight No.</th>
        <th>Origin</th>
        <th>Departure Date</th>
        <th>Time</th>
        <th>Destination</th>
        <th>Arrival Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Remaining Seats</th>
    </tr>
    <% @flights.each do |flight| %>
        <tr>
            <td><%= flight.flight_no %></td>
            <td><%= flight.origin %></td>
            <td><%= flight.departure.strftime("%m/%d/%y") %></td>
            <td><%= flight.departure.strftime("%I:%M:%S %p") %></td>
            <td><%= flight.destination %></td>
            <td><%= flight.arrival.strftime("%m/%d/%y") %></td>
            <td><%= flight.arrival.strftime("%I:%M:%S %p") %></td>
            <td>$<%= flight.price %></td>
            <td><%= flight.remaining_seats %></td>
        </tr>
    <% end %>
</table>
</div>
<br>

<h3 class="pages"><%= paginate @flights %></h3>

<table class ="form">
    <%= form_for @ticket do |f| %>
        <tr>
            <td><%= f.label :flight %></td>
            <td><%= f.collection_select :flight_id, @flights, :id, :flight_no %></td>
        </tr>
        <tr>
            <td><%= f.label :number_of_bags %></td>
            <td><%= f.number_field :number_of_bags, value: 2 %></td>
        </tr>
            <td></td>
            <td><div>*First two bags fly free!</div></td>
        <tr>
            <td><%= f.hidden_field :passenger_id, value: session[:passenger_id] %></td>
        </tr>
        <tr>
            <td><%= f.submit %></td>
        </tr>
    <% end %>
</table>