<div class="heading secondary-heading">Ticket Details</div>
<div class="update">
    <% if flash[:update]%>
        <h4> <%= flash[:update] %></h4>
    <% end %>
</div>

<div class = "form_search">
    <div class="ui list">
            <table>
                <tr><td><div class = "item"><i class="users icon"></i></td><td><div class="content">Passenger: <%= @ticket.passenger.full_name%></div></div></td></tr>
                <tr><td><div class = "item"><i class="exchange icon"></i></td><td><div class="content">Status: <%= @ticket.status%></div></div></td></tr>
                <tr><td><div class = "item"><i class="plane icon"></i></td><td><div class="content">Airline: <%= @ticket.flight.airline.name%></div></div></td></tr>
                <tr><td><div class = "item"><i class="ticket alternate icon"></i></td><td><div class="content">Ticket #: <%= @ticket.ticket_number%></div></div></td></tr>
                <tr><td><div class = "item"><i class="hashtag icon"></i></td><td><div class="content">Flight #: <%= @ticket.flight.flight_no%></div></div></td></tr>
                <tr><td><div class = "item"><i class="map marker alternate icon"></i></td><td><div class="content">Origin: <%= @ticket.flight.origin%></div></div></td></tr>
                <tr><td><div class = "item"><i class="clock outline icon"></i></td><td><div class="content">Departure: <%= @ticket.flight.departure.strftime("%m/%d/%y - %I:%M:%S %p")%></div></div></td></tr>
                <tr><td><div class = "item"><i class="map marker alternate icon"></i></td><td><div class="content">Destination: <%= @ticket.flight.destination%></div></div></td></tr>
                <tr><td><div class = "item"><i class="clock outline icon"></i></td><td><div class="content">Arrival: <%= @ticket.flight.arrival.strftime("%m/%d/%y - %I:%M:%S %p")%></div></div></td></tr>
                <tr><td><div class = "item"><i class="dollar sign icon"></i></td><td><div class="content">Price: $<%= @ticket.flight.price %></div></div></td></tr>
            </table>
    </div>

    <table>
        <tr>
            <th> <%= button_to "Change Ticket", edit_ticket_path(@ticket), method: "get" %></th> 
            <th><%= button_to "Cancel Ticket", ticket_path(@ticket), method: "delete" %></th>
        </tr>
    </table>
</div>