<h1>Welcome to Fly-By</h1>

Login:
<%= form_with url: sessions_path do |f| %>
  <%= f.label :query, "Username:" %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Login" %>
<% end %>

<%= link_to "Sign Up", new_passenger_path %>

<% if flash[:error]%>
  <h3>ERROR</h3>
  <div><%= flash[:error] %></div>
<% end %>