<div class = "heading primary-heading"> Welcome to Fly-By</div>

<div class = "form">
<table>

  <tr>
  <h3>Login:</h3>
  <tr>
  <%= form_with url: sessions_path, html: {class: "ui form"} do |f| %>
    <tr>
      <td><%= f.label :query, "Username:" %></td>
      <td><%= f.text_field :username %></td>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    <tr>
      <td><%= f.submit "Login", class:"ui inverted blue button"  %></td>
  <% end %>
</table>
<br>

<%= link_to "Sign Up", new_passenger_path, class:"ui inverted blue button"%>
</div>
<% if flash[:error]%>
  <h3>ERROR</h3>
  <div style = 'color: red' ><%= flash[:error] %></div>
<% end %>

