
<div class="heading secondary-heading"> Welcome <%= @passenger.full_name %> </div>

<div id = "upcoming-flight"> Upcoming flights: </div>

<div class="ui center aligned grid">
    <table class="ui celled collapsing table">
        <tr>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Ticket Number</th>
            <th>Origin</th>
            <th>Departure Date</th>
            <th>Time</th>
            <th>Destination</th>
            <th>Arrival Date</th>
            <th>Time</th>
        </tr>
        <% @passenger.upcoming_status.each do |ticket| %>
            <tr>
                <td><%= ticket.flight.airline.name %></td>
                <td><%= ticket.flight.flight_no %></td>
                <td><%= link_to ticket.ticket_number, ticket_path(ticket) %></td>
                <td><%= ticket.flight.origin %></td>
                <td><%= ticket.flight.departure.strftime("%m/%d/%y") %></td>
                <td><%= ticket.flight.departure.strftime("%I:%M:%S %p") %></td>
                <td><%= ticket.flight.destination %></td>
                <td><%= ticket.flight.arrival.strftime("%m/%d/%y") %></td>
                <td><%= ticket.flight.arrival.strftime("%I:%M:%S %p") %></td>
            </tr>
        <% end %>
    </table>
</div>

<div id = "upcoming-flight"> Past flights: </div>

<div class="ui center aligned grid">
    <table class="ui celled collapsing table">
        <tr>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Ticket Number</th>
            <th>Origin</th>
            <th>Departure Date</th>
            <th>Time</th>
            <th>Destination</th>
            <th>Arrival Date</th>
            <th>Time</th>
        </tr>
        <% @passenger.closed_status.each do |ticket| %>
            <tr>
                <td><%= ticket.flight.airline.name %></td>
                <td><%= ticket.flight.flight_no %></td>
                <td><%= link_to ticket.ticket_number, ticket_path(ticket) %></td>
                <td><%= ticket.flight.origin %></td>
                <td><%= ticket.flight.departure.strftime("%m/%d/%y") %></td>
                <td><%= ticket.flight.departure.strftime("%I:%M:%S %p") %></td>
                <td><%= ticket.flight.destination %></td>
                <td><%= ticket.flight.arrival.strftime("%m/%d/%y") %></td>
                <td><%= ticket.flight.arrival.strftime("%I:%M:%S %p") %></td>
            </tr>
        <% end %>
    </table>
</div>

