<!DOCTYPE html>
<html>
  <head>
    <title>FlyBy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
    <%= image_tag("flying.jpg", id: "bkgnd")%>
      <% if logged_in? %>
        <%= link_to "Home", passenger_path(session[:passenger_id]), class: "ui primary button" %> <%= link_to "Flights", flights_path, class: "ui primary button" %><%= link_to 'Purchase Ticket', new_ticket_path, class: "ui primary button" %> <%= link_to 'Logout', logout_path, class: "ui red button"%>
      <% elsif employee_logged_in? %>
        <%= link_to "Home", employee_path(session[:employee_id]), class: "ui primary button" %> <%= link_to "Passengers", passengers_path, class: "ui primary button" %> <%= link_to "Flights", airline_path(session[:employee_id]), class: "ui primary button" %> <%= link_to 'Logout', logout_path, class: "ui red button"%> <%= image_tag (src=company_logo) %>
      <% else %>
        <%= link_to "Home", '/', class: "ui primary button"  %>  <%= link_to "Flights", flights_path, class: "ui primary button" %> <%= link_to "Login", '/', class: "ui primary button"%>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
